:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: darkslategray;
}

nav {
    display: flex;
    width: 22vw;
    height: 100vh;
}

nav ul{
    list-style: none;
}
ul {
    color: beige;

}

nav ul a {
    text-decoration: none;
    color: burlywood;
}

.image-profile {
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 999px;
    margin: 4%;
}

.Contacto_info {
    display: flex;
}

.Contacto_info ul{
    list-style: none;
    margin-left: 0;
}

p {
    width: 50vw;
    height: auto;
    text-align: justify;
    color: beige;
}

h1 {
    font-size: xx-large;
    font-weight: 900;
    color: darkgoldenrod;

}

h2 {
    color: darkgoldenrod;
}

